body {
    width: 60%;
    margin: auto;
    padding-top: 1em;
}

textarea {
    padding: 6px;
    font-size: 125%;
    width: 100%;
}

table {
    border: 1px solid #555;
}

td {
    border: 1px solid #888;
    padding: 6px 8px 6px 8px;
}

.tools {
    margin: 1em 0 1em 0;
}