body {
    width: 60%;
    margin: auto;
    padding-top: 1em;
}

textarea {
    padding: 6px;
    font-size: 125%;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}

td, th {
    padding: 8px 8px 8px 8px;
}

.tools {
    margin: 1em 0 1em 0;
}

.key {
    border: 1px solid #999;
    border-radius: 2px;
    padding: 3px 4px 3px 4px;
    margin: 0 2px 0 2px;
}

.header {
    margin-bottom: .5em;
}

.header h2 {
    display: inline;
}

.header a {
    float: right;
    margin: 0.25em 0 0 .5em;
    font-size: 120%;
}
